
$color-link: #fff;

.root {
  height: 106px;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: antiquewhite;
}
.viewBox {
  display: none;
}
.menuNone {
  display: block;
  height: 100%;
}
.menu {
  display: block;
  height: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu > div > a {
  & {
    color: $color-link;
  }
  &::after {
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
    width: 0%;
    display: block;
    content: "";
    height: 2px;
    margin-top: 8px;
  }
  &:hover::after {
    color: #ff2828;
    z-index: 1;
    content: "";
    display: block;
    height: 2px;
    background-image: linear-gradient(100deg, #ff2828 0, #ff2828 35%, #ff2828 100%);
    transition-property: all;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    width: 100%;
    margin-top: 8px;
  }
}
.custom {
  background-color: #ff2828;
  color: #fff;
  border: 1px solid transparent;
  background-image: linear-gradient(100deg,#ff2828 0,#ff2828 35%,#ff2828 100%);
  border: none;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 17px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  transition: .1s ease-in-out;
  transition-property: color,background-color,background-position,border-color,box-shadow;
  border-radius: 500px;
}
@media (max-width: 768px) {
  .menuNone {
    display: none;
  }
  .viewBox {
    display: block;
  }
  //CSS
}
