.root {
  height: 106px;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: antiquewhite;
}
.menu {
 display:block;
}
.menu {
  display:none;
 } 
@media (max-width: 992px)  {
  .menu {
    display:none;
   }  
   .viewBox {
    display:block;
   }
  //CSS
  
}