.svg{
  fill: currentcolor;
  color: white;
  margin: 20px 20px 0 0;
}
.cross{
  border: none;
  color: #b6b6b6;
  margin: 20px 20px 0 0;
  font-size: 30px;
  line-height: 1.86;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color,box-shadow;
  padding: 5px 0;
  font-weight: 300;
}
.mobileMenu{
  background-color: white;
  height: 100%;

}