.root {
  .video {
    z-index: 0;
    position: relative;
    width: 100vw;
  }
  .text {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
    line-height: 68px;
    font-family: sans-serif;
    font-weight: bold;
    color: chocolate;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 25%;
    .spanWeb {
      color: red;
    }
    .spanStudio {
      color: orange;
    }
  }
}
