@font-face{font-family:FontAwesome;src:url("static/fonts/fontawesome-webfont.woff2")}

body,html {
    display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}